@font-face {
  font-family: fontGame;
  src: url(../../assets/fontgame.ttf);
}

.game_container {
  width: 100vw;
  height: 100vh;
  font-family: fontGame;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
